<ion-header>
    <ion-navbar color="primary">        
        <ion-title>
            {{match.name}}
            <p class="subtitle">{{"MATCH_PAGE.VALUATIONS" | translate}}</p>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="scores">
        <ion-item *ngFor="let item of scores; let i = index;">
            <ion-label>{{i+1}}. {{item.namePlayer}}</ion-label>
            <ion-label>{{item.score.toFixed(2)}}</ion-label>
        </ion-item>
    </ion-list>
    
</ion-content>
