<ion-header>
    <ion-navbar color="primary">
        <!--Android pushes buttons to the left even if start attribute is present.
            Check demo: http://ionicframework.com/docs/v2/components/#buttons-in-components-->
        <!--If placing the menuToggle in a navbar or toolbar, it should be placed as a child of the <ion-navbar> or <ion-toolbar>, and not in the <ion-buttons> element
        http://ionicframework.com/docs/v2/api/components/menu/MenuToggle/-->
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{ "STATS_PAGE.TITLE" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

</ion-content>
