<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

        <ion-slide>
            <img [src]="assets/img/png/cup.png"/>
            <h2 class="slide-title">
                {{'INTRODUCTION.SLIDE1_1' | translate}} <b>{{'APPLICATION_DETAIL.NAME' | translate}}</b>
            </h2>
            <p>
                {{'INTRODUCTION.SLIDE1_2' | translate}} <b>app</b> {{'INTRODUCTION.SLIDE1_3' | translate}} 
            </p>
        </ion-slide>

        <ion-slide>
            <img [src]="assets/img/png/kick.png"/>
            <h2 class="slide-title" >
                {{'INTRODUCTION.SLIDE2_1' | translate}}
            </h2>

            <p><b>{{'APPLICATION_DETAIL.NAME' | translate}}</b> {{'INTRODUCTION.SLIDE2_2' | translate}}</p>
            <p><b>{{'APPLICATION_DETAIL.NAME' | translate}}</b> {{'INTRODUCTION.SLIDE2_3' | translate}}</p>
        </ion-slide>

        <ion-slide>
            <img [src]="assets/img/png/goal.png"/>
            <h2 class="slide-title">
                {{'INTRODUCTION.SLIDE3_1' | translate}}
            </h2>
            <p>{{'INTRODUCTION.SLIDE3_2' | translate}} <b>{{'INTRODUCTION.SLIDE3_3' | translate}}</b> {{'INTRODUCTION.SLIDE3_4' | translate}}</p>
        </ion-slide>

        <ion-slide>
            <img [src]="assets/img/png/foul.png"/>
            <h2 class="slide-title">
                {{'INTRODUCTION.SLIDE4_1' | translate}}
            </h2>
            <button ion-button icon-end large clear (click)="startApp()">
                {{'INTRODUCTION.CONTINUE' | translate}}
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>

    </ion-slides>
</ion-content>
