fwf-payment-management-player {
    
    $border-color: color($colors, primary);
        
    .payment-amount-no-paid {
        color: red;
    }

    .filter__in-use.bar-button-default-md::after {
        border: 1px solid $border-color;
        background: white;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        position: absolute;
        top: 0.4rem;
        left: 2.3rem;
    }

    .filter__in-use.bar-button-default-ios::after {
        border: 1px solid $border-color;
        background: white;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 2.5rem;
    }
}  
