// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// Secondary colors added as a map with variations (shades / tints / hues).
// As a general rule, if nested maps are used keys "base" and "contrast"
// will be required in order to apply Ionic color attributes.
// These keys are applied as background and foreground color respectively.
// Main color is labelled with "neutral" key.
// Instead of using named keys, number scale (500, 600, etc.)
// or percentages can be used.
// Check out MD color guidance:
// https://material.io/guidelines/style/color.html.

$colors: (
    primary: (
        // base:         #0096bb,
        base:         #26c048,
        contrast:     #ffffff,
        light:        #00bfee,
    ),
    secondary: (
        base:         #0096bb,
        contrast:     #ffffff,
        brightest:    #ffffff,
        lighter:      #f6f8fa,
        light-2:      #e2e6ef,
        light:        #dbe1eb,
        gray:         #f0f0f0,
        neutral:      #8b94a6,
        dark:         #616674,
        dark-2:       #5f6672,
        darker:       #262d39,
        darkest:      #000000,
    ),
    danger: (
        base:         #bf1d38,
        contrast:     #ffffff,
        alternative:  #f8da65,
    ),
    light:      #f4f4f4,
    dark:       #222,
    favorite:   #69bb7b,
    warning:    #e8940c,
    success:    #5b8c15,
    info:       #3981e5,
);


// Font stack
// --------------------------------------------------
$font-sizes: (
    xx-large:   3.8rem,
    x-large:    2.0rem,
    large:      1.8rem,
    medium:     1.6rem,
    small:      1.4rem,
    x-small:    1.2rem,
    xx-small:   1.0rem,
    tiny:       0.8rem,
);


// App iOS Variables


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// List
// Override default margin bottom of list header to adhere to MD spec
// https://material.io/guidelines/components/subheaders.html#subheaders-list-subheaders
$list-md-header-margin-bottom: 0;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// Functions
// --------------------------------------------------

@import "functions";


// Partials
// --------------------------------------------------

@import "partials/list";
@import "partials/toolbar";
@import "partials/segment";
@import "partials/searchbar";
@import "partials/slides";
@import "partials/icon.scss";
