<ion-header>
    <ion-navbar color="primary">
        <!--Android pushes buttons to the left even if start attribute is present.
            Check demo: http://ionicframework.com/docs/v2/components/#buttons-in-components-->
        <!--If placing the menuToggle in a navbar or toolbar, it should be placed as a child of the <ion-navbar> or <ion-toolbar>, and not in the <ion-buttons> element
        http://ionicframework.com/docs/v2/api/components/menu/MenuToggle/-->
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{ "MATCHESPAGE.TITLE" | translate}}
        </ion-title>
        <ion-buttons end>
            <button ion-button
                    icon-only
                    clear
                    (click)="openSearchBox()">
                <ion-icon name="funnel"></ion-icon>
            </button>        
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="loadListMatches($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="{{'REFRESHER_COMPONENT.PULL_TO_REFRESH' | translate}}"
                refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list
            *ngFor="let group of groupedMatches"
            no-lines
            list-grouped
            class="expanded">
        <ion-list-header>
            {{(group.group | fwfCapitalize)}}
        </ion-list-header>
        <div class="item-group">
            <fwf-matches-list-item
                    *ngFor="let matchMonthYear of group.matches"
                    [match]="matchMonthYear.match"
                    [isAdmin]="isAdmin"
                    [playerId]="userLogged.playerId"
                    (action)="doAction(matchMonthYear.match, $event)">
            </fwf-matches-list-item>
        </div>
    </ion-list>
    <!--No treatments available to display-->
    <fwf-empty-state *ngIf="groupedMatches?.length === 0">
        {{'MATCHESPAGE.NO_FOUND' | translate}}
    </fwf-empty-state>
    <ion-fab right bottom *ngIf="isAdmin">
        <button ion-fab color="primary" (click)="addMatch()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
