<ion-header>
    <ion-navbar color="primary">        
        <ion-title *ngIf=!reserves>
            {{match.name}}
            <p class="subtitle">{{"MATCH_PAGE.CALL_UP" | translate}}</p>
        </ion-title>
        <ion-title *ngIf=reserves>
            {{match.name}}
            <p class="subtitle">{{"MATCH_PAGE.RESERVES" | translate}}</p>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list *ngIf="reserves">
        <ion-item *ngFor="let item of match.reserves; let i = index;">
            {{i+1}}. {{item.player.name}} <span *ngIf="!item.player.fixed">(s)</span>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!reserves">
        <ion-item *ngFor="let item of match.callUp; let i = index;">
            {{i+1}}. {{item.player.name}} <span *ngIf="!item.player.fixed">(s)</span>
        </ion-item>
    </ion-list>
    
</ion-content>
