<ion-header>
    <ion-navbar color="primary">
        <!--Android pushes buttons to the left even if start attribute is present.
            Check demo: http://ionicframework.com/docs/v2/components/#buttons-in-components-->
        <!--If placing the menuToggle in a navbar or toolbar, it should be placed as a child of the <ion-navbar> or <ion-toolbar>, and not in the <ion-buttons> element
        http://ionicframework.com/docs/v2/api/components/menu/MenuToggle/-->
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{ 'PAYMENT_MANAGEMENT_PAGE.TITLE' | translate}}
        </ion-title>
    </ion-navbar>
    <ion-toolbar no-padding class="filter-container" color="primary">
        <ion-segment name="selectedOption" [ngModel]="selectedOption" (ionChange)="onSelectionChanged($event.value)" color="primary">
            <ion-segment-button value="players">
                {{"PAYMENT_MANAGEMENT_PAGE.PLAYERS_TAB" | translate}}
            </ion-segment-button>
            <ion-segment-button value="payments">
                {{"PAYMENT_MANAGEMENT_PAGE.PAYMENTS_TAB" | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container [ngSwitch]="selectedOption">
        <div *ngSwitchCase="'players'">
            <fwf-payment-management-players #playersTab></fwf-payment-management-players>
        </div>
        <div *ngSwitchCase="'payments'" class="card-section">
            <fwf-payment-management-pending #pendingPaymentsTab></fwf-payment-management-pending>
        </div>
    </ng-container>
    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="addPayments()">
          <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>


